:root{
  --darkteal: #08261e;
  --teal: #005f52;
  --lightteal: #31dbc5;
  --white: #ffffff;
  --black: black;
  --darkpurple: #150d24;
  --purple: #35216b;
  --lightpurple: #a676ff;
  --lightgrey: #e4e4e4;
  --grey: #868686;
  --darkgrey: #3d3d3d;
  --verydarkgrey: #242424;
  --darkgold: #a17600;
  --lightgold: #fcdb80;
  --gold: #eeb005;
  --softgold: #f1eac7;
  --softblue: #7ebfda;
  --softpink: #cf8fdb;
  --royalblue: #1027f0;
}
body{
  background-color: var(--verylightgrey);
  color: var(--verydarkgrey);
}

header{
  background-color: var(--darkteal);
  color: var(--softgold);
}

.font-purple{
color: var(--darkpurple);
}

.font-gold{
color: var(--gold);
}

.font-teal{
color: var(--darkteal);
}

.font-white{
color: var(--white);
}




.rm-my{
    margin-top: 0em !important;
    margin-bottom: 0em !important;
  }
  
  .rm-mx{
    margin-left: 0em;
    margin-right: 0em;
  }
  
  .rm-py{
    padding-top: 0em;
    padding-bottom: 0em;
  }
  
  .rm-px{
    padding-left: 0px;
    padding-right: 0px;
  }

  .hidden{
    display: none !important;
  }

    .font-simple-serif{
    font-family: 'Amiri', serif;
    }
    .font-fancy-serif{
    font-family: 'Averia Serif Libre', cursive;
    }
    .font-whispy-thick{
    font-family: 'Berkshire Swash', cursive;
    }
    .font-sharp-handwriting{
    font-family: 'Bilbo', cursive;
    }
    .font-western-caps{
    font-family: 'Girassol', cursive;
    }
    .font-medieval-simple{
    font-family: 'Grenze Gotisch', cursive;
    }
    .font-inky-typed{
    font-family: 'IM Fell DW Pica', serif;
    }
    .font-inky-caps{
    font-family: 'IM Fell DW Pica SC', serif;
    }
    .font-medieval-wide{
    font-family: 'Metamorphous', cursive;
    }
    .font-round-blocky-sans{
    font-family: 'Mirza', cursive;
    }
    .font-keycaps{
    font-family: 'Monofett', cursive;
    }
    .font-underline-caps{
    font-family: 'Montserrat Subrayada', sans-serif;
    }
    .font-simple-serif-2{
    font-family: 'Neuton', serif;
    }
    .font-cut-edge{
    font-family: 'Nova Cut', cursive;
    }
    .font-straight-thick-sans{
    font-family: 'Oswald', sans-serif;
    }
    .font-whispy-sans{
    font-family: 'Philosopher', sans-serif;
    }
    .font-medieval-thick{
    font-family: 'Pirata One', cursive;
    }
    .font-easy-handwriting{
    font-family: 'Reenie Beanie', cursive;
    }
    .font-inky-typewriter{
    font-family: 'Special Elite', cursive;
    }
    .font-wide-rounded{
    font-family: 'Sulphur Point', sans-serif;
    }
    .font-windy-caps{
    font-family: 'Trade Winds', cursive;
    }
    .font-retro{
    font-family: 'VT323', monospace;
    }
    .font-marker-edge{
    font-family: 'Yatra One', cursive;
    }
